<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mini vMac</string>
	<key>CFBundleExecutable</key>
	<string>minivmac</string>
	<key>CFBundleIdentifier</key>
	<string>net.namedfork.minivmac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongName</key>
	<string>Mini vMac for iPhone</string>
	<key>CFBundleName</key>
	<string>minivmac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>mnvm</string>
	<key>CFBundleVersion</key>
	<string>BUNDLE_VERSION</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SBWillUseCustomIcon</key>
	<true/>
	<key>SignerIdentity</key>
	<string>Apple iPhone OS Application Signing</string>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeRight</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
</dict>
</plist>
